    .mobile-menu {
      position: relative;
      left: 68%;
      margin-top: 20px;
    }
  
    .menu-toggle {
      display: block;
    }
  
    .menu {
      display: block;
      background-color:rgb(238, 238, 238);
      width:100px;
      height: 90px;
      border-radius: 10px;
    }
  
    .menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    .menu li {
      margin: 0.5rem 0;
    }
  
    .menu a {
        color: rgb(0, 0, 0);
        padding: 8px 12px;
        text-decoration: none;
        font-size: 14px;
        display: block;
        text-align: left;
        margin-left: 5px;
    }

    .menu a:hover {
      background-color: #ddd;
      color: black;
    }

    button{
      border-style: none;
      background-color: rgba(255, 255, 255, 0.945);
    }

    button:hover{
      background-color: rgb(228, 228, 228);
    }

    li .dialog{
      background-color: rgb(238, 238, 238);
  
    }

    

    .modal {
      display: none; /* Hidden by default */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      overflow: auto; /* Enable scroll if needed */
      background-color: #474e5d;
      padding-top: 50px;
      
    }
    
    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: 10% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
      border: 2px solid #888;
      width:500px;
    }
    
    .container {
      padding: 16px;
      text-align: center;
    }

    .clearfix button{
      margin-left: 20px;
      margin-top: 20px;
    }